.onLoad <- function(lib,pkg) {
    require(splines)
    require(quantreg)
    require(grid)
    require(gtools)
    load(SGP)
}

export(
    "studentGrowthPercentiles",
    "studentGrowthProjections"
)


